/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/* CSS reset end */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.background-image-container {
  width: 500px;
  height: 100%;
  background-image: url(img/rickshaw.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner {
  font-family: "UniqueRegular", serif;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.picture-credit {
  bottom: 10px;
  color: white;
  text-align: center;
  margin-bottom: 16px;
}

.picture-credit a {
  color: white;
}
